{
  "presets": ["react-native"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        ["babel-plugin-inline-import", {
          "extensions": [ ".sql" ]
        }]
      ]
    }
  }
}
